table .stb-select { 
  width:-webkit-calc(100% - 10px) !important; 
  border-bottom-left-radius: 10px !important; 
  border-bottom-right-radius: 10px !important; 
  padding-left: 10px !important; top: 18px !important;
}
table .stb-select-container{ 
  width: 100%; background: #FFF; 
  padding: 3px 0 8px 10px; 
  border-radius:14px !important;
}
table .newTr .stb-select-container{ 
  width: 96%; background: #FFF; 
  padding: 3px 0 8px 10px; 
  border-radius:14px !important; 
  border:solid 1px #d5d5d5;
}::after{
  color: #666 !important;
}
table .newTr .stb-select { 
  width:-webkit-calc(100% - 10px) !important; 
  border-bottom-left-radius: 10px !important; 
  border-left:solid 1px #d5d5d5;
  border-right:solid 1px #d5d5d5; 
  border-bottom:solid 1px #d5d5d5;
  border-bottom-right-radius: 10px !important; 
  padding-left: 10px !important; 
  top: 18px !important;
}
table .newTr .selected {color: #666 !important; }

.box_txt_st01.st00_us > dl:last-child {
    width: 600px !important;
    margin: 0 0 0 10px;
}
.um_list {
    border-radius: 5px;
    border: 1px solid #D8D8D8;
}

.table_style03 table > tbody > tr > td{
  padding: 5px !important;
}

.btn_rt {
  float: right;
  margin: 15px 20px 15px 0px;
}

.btn_rt02 {
  position: absolute;
  bottom: 212px;
  right: 25px;
}

.btn_w100_h35 {
    display: inline-block;
    width: 100px;
    height: 35px;
    line-height: 16px;
    padding: 9px 15px 11px;
    margin: 0;
    font-size: 15px;
    color: #fff;
    background: #EA7169;
    border-radius: 5px;
    cursor: pointer;
}

.inputst_box03_15radius {
  display: table;
  width: 100%;
  border: 1px solid #EA7169;
  border-radius: 15px;
  color: #4f5468;
}

.back_yellow {
  background: #F9F495;
}

.back_sprite {
    background: linear-gradient(135deg,
    #727272 25%, white 0, white 50%,
    #727272 0, #727272 75%, white 0);

    background-size: 15px 15px;
}

.pop_popup0 .pop_content_dm{
  display: block;
  height: 605px;
  padding: 26px 26px 0;
}

.pop_dm_01 {
  overflow-y:scroll;
  height:425px;
  background: white;
  margin: 0px 0 10px 0px;
}

.content_title_icon_dm {
  display: inline-block;
  background: url('../../publish/image/icon-icr02.png') no-repeat;
  width:40px; 
  height: 30px;
  float:left;
  position: relative;
  top: 20px;
  left: 40px;
}

.box_stsearch_doc_management {
    position: relative;
    /* width: 100%; */
    width: calc(100% - 40px);
    padding: 30px 0 10px 0px;
    bottom: 0;
    left: 20px;
}

.box_stsearch_doc_management .btn_rt {
  position: absolute;
  bottom: 18px;
  right: 22px
}

.bl_content_title_doc_management {
  font-weight: bold;
  font-family: 'NanumGothicR';
  font-size: 20px;
  margin: 4px 0 10px 5px;
  color: #4C5059;
  top: 20px;
  left: 40px;
  position: relative;
  width: 150px;
}

.tep_content_doc_management {
  position: relative;
  /* width: 100%; */
  /*height: 675px;*/
  background-color: #fff;
  border: 1px solid #ccc;
  -webkit-box-shadow: 0px 0px 8px 1px rgba(120,120,120,.1);
  -moz-box-shadow: 0px 0px 8px 1px rgba(120,120,120,.1);
  box-shadow: 0px 0px 8px 1px rgba(120,120,120,.1);
  z-index: 0;
  margin: 0px 20px;
  height: auto; width: 1760px; overflow: hidden;
}

.pop_popup0 {
    width: 100% !important;
}

.docPop .pop_layer {
    width: 90% !important;
}

#layer_alert .pop_layer {
    width: 20% !important;
}

input[name="searchStartDate"], input[name="searchEndDate"] {
    width: 10%;
    border: solid thin #EA7169;
    border-radius: 10px;
    margin-right: 10px;
    color: #EA7169;
}

#paging {
    text-align: center;
    margin-top: 5px;
}

#hideBtn {
  display: none; width:20px; float: left; line-height:611px; text-align: center;
  background:#EA7169
}

#imgPreviewWrap {
  display: none;float: left;
  width: 600px
}

#imgPreview {
  width: 100%; height: 611px;
}

.content {
  width: 2500px
}

#tableWrap {
  width: 1760px
}



.pop_content_L_single {
  margin-right: 12px;
  width: 59%;
  height: 100%;
  float: left;
}
.pop_content_L_multi {
  margin-right: 12px;
  width: 59%;
  height: 100%;
  float: left;
}

.pop_content_R {
  margin-left: 12px;
  width: 39%;
  height: 97%;
  float: left;
}

.pop_content_L_single .pop_content_L_leftTop {
  height: 96%;
  width: 100%;
  margin-bottom: 1px;
  max-height: 820px;
  overflow: scroll;
}

.pop_content_L_multi .pop_content_L_leftTop {
  width: 100%;
  margin-bottom: 30px;
  max-height: 270px;
  overflow: auto;
}
.pop_content_L_leftBottom {
  width: 100%;
}

.pop_content_L_multi .pop_content_L_leftTop .inputst_box03_15radius {
  height: 30px !important;
}

.pop_single_row {
  height: 33px;
  width: 100%;
  margin: 1px;
}
.pop_single_row_col_100 {
  width: 100%;
  height: 100%;
  margin: 1px;
  /* background-color: red; */
  float: left;
}
.pop_single_row_col_50 {
  width: 49.7%;
  height: 100%;
  margin: 1px;
  /* background-color: red; */
  float: left;
}

.pop_single_row_col_60 {
  width: 58.7%;
  height: 100%;
  margin: 1px;
  /* background-color: red; */
  float: left;
}

.pop_single_row_col_40 {
  width: 40.7%;
  height: 100%;
  margin: 1px;
  /* background-color: red; */
  float: left;
}

.col_title_wrap {
  background-color: #dda8a5;
  width: 150px;
  height: 100%;
  float: left;
  line-height: 40px;
  text-align: center;
}
.pop_content_L_single .col_title_wrap {
  background-color: #dda8a5;
  width: 350px;
  height: 100%;
  float: left;
  line-height: 40px;
  text-align: center;
}

.col_title{
  vertical-align: middle;
  font-size: 15px;
  font-weight: bold;
}

.col_contents {
  float: left;
  width: 78%;
  margin: 1px;
}

.col_entry_wrap {
  float: left;
  width: 80%;
}

.pop_content_L_single .col_contents_02 {
  float: left;
  width: 64%;
  margin: 1px;
}

.col_contents_02 {
  float: left;
  width: 69%;
  margin: 1px;
}

.ipt_st01 {
  width: 48% !important;
  height: 38px !important;
  line-height: 38px !important;
  padding: 6px 6px 6px;
  box-sizing: border-box;
  color: #4f5468;
  font-size: 15px;
  vertical-align: bottom;
  margin: 1px;
}

.ipt_st02 {
  width: 100% !important;
  height: 38px !important;
  line-height: 38px !important;
  padding: 6px 6px 6px;
  box-sizing: border-box;
  color: #4f5468;
  font-size: 15px;
  vertical-align: bottom;
  margin: 1px;
}

.select_st01 {
  width: 48%;
  height: 38px;
  margin: 1px;
}

.box_scroll_st9 {
  display: block;
  height: 470px;
  overflow-y: auto;
  overflow-x: scroll;
}

.box_scroll_st9::-webkit-scrollbar { 
  display: none !important; 
}

.pop_content_L_leftTop::-webkit-scrollbar { 
  display: none !important; 
}

.pmBtn {
  background-color: black;
  float: left;
  width: 30px;
  height: 30px;
  line-height: 27px;
  margin: 1px;
}

.fontWhite {
  color: white;
}

.pmBtn_wrap {
  display: inline-block;
}

.pop_closeBtn {
  position: absolute;
  right: 10px;
  font-size: 20px;
  font-weight: bold;
  background-color: transparent;
  top: 10px;
}

.pop_header_01 {
  display: block;
  height: 42px;
  background-color: #EA7169;
  line-height: 42px;
}

.PopupImg_wrap {
  width: 100%;
  height: 100%;
  overflow-x: auto;
  margin-bottom: 5px;
}



/* ?ì—… ê°€ë¡œì„¸ë¡??¤í¬ë¡??Œì´ë¸?*/

#tblBackground {
  /*
   *  ?”ë©´??ë³´ì—¬????Table??ê°€ë¡œí¬ê¸°ë? ?¡ì•„ì¤ë‹ˆ??
   */
  width: 100%;
  table-layout: fixed;
}
#divHeadScroll {
  /*
   *  ?ˆì˜ ?´ìš©??790ë³´ë‹¤ ê¸¸ê²Œ ?ìš©???˜ë?ë¡?overflow-x, overflow-yë¥?hidden??ê±¸ì–´ì¤˜ì„œ ?¤ì •??ê°€ë¡œë„ˆë¹„ë§Œ?¼ë§Œ ?”ë©´??ë³´ì´?„ë¡ ?¡ì•„ì¤ë‹ˆ??
   */
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  border-top: 2px solid #d0d0d0;
}
#multiTblHead {
  /*
   *  Table???„ë“œëª…ì˜ ?ˆë¹„ë¥??¬ê¸°?ì„œ ì§€?•í•©?ˆë‹¤.
   *  ?„ë“œëª…ì„ ë³´ì—¬ì¤??Œì´ë¸”ì? bodyë³´ë‹¤ ?˜ë‚˜??tdë¥???ê°€ì§€ë©?ë§ˆì?ë§?td???„ë¬´ê²ƒë„ ?…ë ¥?˜ì? ?Šê³  ?¬ê¸°ë§??¡ì•„ì¤ë‹ˆ??
   *  ?´ë ‡ê²??˜ëŠ” ?´ìœ ???°ì´?°ë? ë³´ì—¬ì£¼ëŠ” ?Œì´ë¸”ì? ?¸ë¡œ ?¤í¬ë¡¤ì˜ ê°€ë¡œë‘ê»˜ë§Œ?????´ë™?˜ê¸° ?Œë¬¸?…ë‹ˆ??
   */
  table-layout: fixed;
  background-color: #efefef;
  padding-top: 4px;
  width:1280px;
  height: 30px;
  border-collapse: collapse;
}
#divBodyScroll {
  /*
   *  overflow-x, overflow-y??scrollë¡?ì§€?•í•˜ê³?
   *  height???Œì´ë¸”ì˜ ?°ì´?°ê? ?˜ì˜¬ ê¸°ë³¸ ?¬ê¸°ë¥??¡ì•„ì¤ë‹ˆ??
   *  ?¸ë¡œê¸¸ì´ë¥??¡ì•„ì£¼ì? ?Šìœ¼ë©?overflow-yê°€ ê±¸ë¦¬ì§€ ?ŠìŠµ?ˆë‹¤.
   */
  width: 100%;
  height: 480px;
  overflow-x: scroll;
  overflow-y: scroll;
  border-top: 1px solid #d0d0d0;
}
#multiTblBody {
  /*
   * tblBody???°ì´?°ëŠ” ?„ìš”???´ì˜ ?˜ë§Œ?¼ë§Œ ë§Œë“œ?œê³  ?¤ë”?€ col??width???™ì¼?´ì•¼ ?©ë‹ˆ??
   */
  width: 1280px;
  table-layout: fixed;
  height: 30px;
  border-collapse: collapse;
}

/* ?Œì´ë¸??¤í??¼ìš© */
.title {
  text-align: center;
  font-weight: bold;
}
.content {
  border-bottom: 1px solid #efefef;
  padding: 10px 10px 10px 10px;
  text-align: center;               
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
   
}

.pop_content_L_single .inputst_box03_15radius {
  display: table;
  width: 99% !important;
  height: 30px !important;
  border: 1px solid #EA7169;
  border-radius: 15px;
  color: #4f5468;
}

.pop_returnBigo_wrap {
  background-color: #dda8a5;
  width: 95px;
  height: 40px;
  display: inline-block;
  line-height: 34px;
  text-align: center;
}

#pop_returnBigo {
  width: 300px;
}
.doc_pop_btn_wrap {
  clear: both;
    /* padding: 12px 31px 20px; */
  text-align: right;
}
.btn_st_01 {
  display: inline-block;
  float: right;
}

.docPop .pop_content{
  display: block;
  padding: 26px;
  height: 820px !important;
}
.leftBottom_optionBar {
  width: 100%;
  margin-top: 13px;
}

.leftBottom_optionBar_L {
  width: 50%;
  float: left;
}

.leftBottom_optionBar_R {
  width: 50%;
  float: left;
}
.docPopAddBtn {
  width: 48%;
  height: 40px;
  text-align: center;
  background-color: #EA7169;
  line-height: 40px;
  cursor: pointer;
  font-weight: bold;
  float: left;
  border: 1px solid;
}

#reportRowCnt {
  width: 50px;
  margin-left: 10px;
}

.width50 {
  width: 50%;
}

.leftBottom_optionBar_R .width50 {
  float: left;
  height: 40px;
  line-height: 40px;
}

.width50 .ez-checkbox {
  margin-top: 10px;
}

.textStyle {
  display: inline-block;
  height: 40px;
  vertical-align: top;
  font-weight: bold;
  margin-left: 5px;
  font-size: 14px;
}


.pop_content_L_single_leftBottom  {

}
.pop_content_L_single_leftBottom .width50 {
  line-height: 40px;
  float: right;
  text-align: right;
}

